<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model_6_SnapShot_1781437892592"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="10.8.0.13"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="90"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="settings_in_file, ui_can_change, worker_writing, settings_in_report, ui_last_read_count, ui_reading, history_records, worker_state, settings_at_start"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1TypeInvariant"/>
        <listEntry value="1ReportMatchesStartSettings"/>
        <listEntry value="1SettingsConsistency"/>
        <listEntry value="1NoSimultaneousHistoryAccess"/>
        <listEntry value="1UISeesConsistentHistory"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="1EventuallyDone"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="8"/>
    <listAttribute key="modelParameterConstants"/>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="8"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="SettingsRaceCondition"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
