<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model_3"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="10.8.0.13"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="126"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="video_path_set, save_json_btn, processed_video, worker_state, play_processed_btn, run_btn, select_btn, last_result_set"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1TypeInvariant"/>
        <listEntry value="1RunButtonOnlyWhenIdle"/>
        <listEntry value="1SelectButtonBlockedOnlyDuringRun"/>
        <listEntry value="1SaveJsonConsistency"/>
        <listEntry value="1PlayButtonConsistency"/>
        <listEntry value="1ButtonsBlockedDuringRun"/>
        <listEntry value="1RunButtonActiveAfterCompletion"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="1EventuallyNotRunning"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="8"/>
    <listAttribute key="modelParameterConstants"/>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="8"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="ButtonStateFSM"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
